@import url('https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/3.0.1/modern-normalize.min.css');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #4caf5080;
  background-color: #e8f5e9;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;

}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Marck Script", cursive;
}

img,
video,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}


ul,
ol {
  list-style: none;
}


a {
  text-decoration: none;
  color: inherit;
}


button {
  cursor: pointer;
  border: none;
  background: none;
  font: inherit;
}


input,
textarea,
select {
  font: inherit;
}